<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunWise - User Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="heading">User Login</h1>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-orange">Login</button>
        </form>
    </div>
</body>
</html>
