{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="heading">Password Reset Email Sent</h1>
        <p>An email has been sent to your registered email address with instructions on how to reset your password. Please check your inbox and follow the provided link to complete the password reset process.</p>
        <p>If you do not receive the email within a few minutes, please check your spam or junk folder.</p>
        <p>If you continue to experience issues, please contact our support team for assistance.</p>
    </div>
</body>
</html>
